{% if content %}
<div {{ attributes.addClass('collection-teaser-handler')}}>
        <div  {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container-fluid" {% endif %}>
        <div class="row no-gutters">
            <div class="col-lg-6 ">
                <div class="col-lg-16">
                    {% if content.hongo_collection_left_top %}
                        {{ content.hongo_collection_left_top }}
                    {% endif %}
                </div>
                <div class="row no-gutters two-items">
                    <div class="col-sm-6 col-lg-6 two-items--first">
                        {% if content.hongo_collection_left_bottom %}
                            {{ content.hongo_collection_left_bottom }}
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-lg-6 two-items--second">
                        {% if content.hongo_collection_small_image %}
                            {{ content.hongo_collection_small_image }}
                        {% endif %}
                    </div>
                </div>
                
            </div>
            {% if content.hongo_collection_right_full %}
                <div {{ region_attributes.hongo_collection_right_full.addClass(["items--big","hongo_collection_right_full"]) }}>                
                        {{ content.hongo_collection_right_full|layout_value }}                
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}