{% if content %}
<footer {{ attributes.addClass('footer-handler')}}>
    <div class="container">
        <div class=" row">
            <div class="col-lg-3 col-md-5 footer-column">
                {% if content.footer_logo %}
                <h5 {{ region_attributes.footer_logo.addClass(['img-logo' ])}}> {{ content.footer_logo|layout_value }} </h5>
                {% endif %}
                {% if content.footer_list_one %}
                <div {{ region_attributes.footer_list_one.addClass('info-bloc')}}> {{ content.footer_list_one|layout_value }} </div>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-5 footer-column">
                {% if content.footer_title_one %}
                <h5 {{ region_attributes.footer_title_one.addClass(['head-element'])}}>
                    {{ content.footer_title_one|layout_value }}
                </h5>
                {% endif %}
                {% if content.footer_list_two %}
                <div {{ region_attributes.footer_list_two.addClass('links')}}>
                    {{ content.footer_list_two|layout_value }}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-5 footer-column ">
                {% if content.footer_title_two %}
                <h5 {{ region_attributes.footer_title_two.addClass(['head-element'])}}>
                    {{ content.footer_title_two }}
                </h5>
                {% endif %}
                {% if content.footer_list_three %}
                <div {{ region_attributes.footer_list_three.addClass('links')}}>
                    {{ content.footer_list_three|layout_value }}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-5 footer-column">
                {% if content.footer_title_three %}
                <h5 {{ region_attributes.footer_title_three.addClass(['head-element'])}}>
                    {{ content.footer_title_three|layout_value }}
                </h5>
                {% endif %}
                {% if content.footer_subtitle %}
                <div {{region_attributes.footer_subtitle.addClass('description')}}>
                    {{ content.footer_subtitle|layout_value }}
                </div>
                {% endif %}
                {% if content.footer_search %}
                <div {{ region_attributes.footer_search.addClass('email-form')}}>
                    {{ content.footer_search|layout_value }}
                </div>
                {% endif %}
            </div>
        </div>
        {% if content.footer_copyright %}
        <div class="copyright text-center">
            <div {{ region_attributes.footer_copyright.addClass('elements') }}>         
            	{{ content.footer_copyright|layout_value }}                
            </div>
        </div>
        {% endif %}
    </div>
</footer>
{% endif %}